
@font-face {
    font-family: 'thorns';
    src:url(./fonts/Wickedqueen-Wyz34.ttf)
  }
  @font-face {
    font-family: 'chopstic';
    src:url(./fonts/Chopsic-K6Dp.ttf)
  }
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: lightskyblue;
}

.neon {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    border:5px solid navy;
    border-radius: 15px;
    filter: brightness(200%);
}

.text {
    color: white;
    background-color: black;
    font-size: 65px;
    font-weight: bold;
    font-family:'chopstic';
    letter-spacing: 7px;
    text-transform: uppercase;
    user-select: no;
    padding: 10px;

}

.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.025em);
    mix-blend-mode: difference;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(110deg, lightBlue, blue, lightBlue, blue, lightBlue);
    mix-blend-mode: multiply;
}

.spotlight {
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(circle, white, transparent 25%) center / 25% 25%,
        radial-gradient(circle, white, black 25%) center / 12.5% 12.5%;
    animation: light 7s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
	to {transform: translate(50%, 0%);}
}

.title h1{
    font-family: 'thorns';
    letter-spacing: 3px;
    font-size:calc(60px + 1.5vw);
    color: black;
    font: oblique;
    text-decoration-color: black;

}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.TridentImg{
    height: 100px;
    width: 100px;
}
.projectContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}



.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 550px;
    background-color: #1E90FF;
    margin : 10px;
    border-radius: 15px;
	height: 45vw;
	overflow: hidden;
}
.project h1{
    font-family: fantasy;
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.item{
	height: 300px;
}
.item img{
	height: 90% !important;
	width: 100%;
}
.carousel{
	width: 100%;
	height: 330px;
	border: 1px solid lightblue;
}
.project  p{
	align-self: flex-start;
	font-size: 15px;
	margin: 10px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.res-span{
	color: navy;
	font-weight: bold;
}
.note{
	color: red;
	font-weight: bold;
}
@media screen and (max-width: 1000px){
    .project{
        width: 100%;
		height: 1050px;
		margin-bottom: 70px;
	}
	.project h1{
		font-size: 50px;
	}
	.item{
		height: 550px ;
	}
	.carousel{
		height: 600px;
	}
	.project p{
		align-self: flex-start;
		font-size: 35px;
	}
    
}
